* {
  margin: 0;
  padding: 0;
}
.button {
  padding: 18px 32px;
  border-radius: 20px;
}
.Header-text {
  color: #292d32;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #292d32;
}
.Header-bg {
  background-color: #003f62;
}
.Header-input {
  position: relative;
  margin: 22px 0;
  padding: 17px 25px;
  border-radius: 20px;
  width: 450px;
  border: none;
}
.search-btn {
  position: absolute;
  /* background-color: #eda415; */
  padding: 16.5px;
  border-radius: 20px;
  margin-left: -80px;
  margin-top: 22px;
}
.navbar-ul > li:first-child {
  background-color: #eda415;
  margin-right: 50px;
  padding: 20px 10px;
  color: #fff;
}
.plus {
  display: flex;
}
.slide > img {
  width: 50%;
  height: 500px;
}
/* alice carousel ehelsen */
.category-btn {
  width: 139px;
  height: 45px;
}
.category-card {
  /* margin: auto; */
  padding: 10px;
  border: 1px solid #ddd;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
}

.category-cards-container {
  display: flex;
  justify-content: center;
}
.category-text {
  width: 70%;
  color: #1b5a7d;
}
.category-text .title {
  font-weight: 600;
  font-size: 21px;
}

.category-text .item {
  padding-top: 10px;
}
.card-img-container {
  width: 30%;
  height: 70px;
  display: flex;
  justify-content: center;
}

.card-img-container img {
  max-height: 100%;
  width: auto;
}
.right.carousel-control,
.left.carousel-control {
  display: none;
}
/* alice carousel duussan */
/* popular product css */
/* .popularProduct-btn {
  border: 1px solid black;
  border-radius: 50px;
  color: #1b5a7d;
  margin-left: 1em;
} */
.BigSell-btn {
  background-color: #eda415;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}
